@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

body {
  font-family: Circular, Arial, sans-serif;
}

/* UTILS */

.title-font {
  font-family: 'Lobster', cursive;
  color: black;
}

.align-center {
  text-align: center;
}

.letter-spacing-1 {
  letter-spacing: 1px;
}

.main-btn {
  border-radius: 10px;
  background-color: rgb(83, 64, 255);
  border: none;
  font-family: 'Roboto', sans-serif;
  color: white;
  transition: 0.3s;
}

.main-btn:hover {
  cursor: pointer;
  background-color: rgb(116, 101, 252);
}

.main-btn:disabled,
.main-btn[disabled] {
  background-color: rgb(186, 179, 255);
  cursor: auto;
}

.container {
  padding: 0 2rem;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 2rem;
  }
}
