.navbar-main-container {
  border-bottom: solid 01px #f4f4f4;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 2rem;
}

.navbar-title {
  font-size: 1.6rem;
  padding: 1rem;
}

.drawer-title {
  font-size: 1.4rem;
}

.nav-arrow {
  font-size: 1.5rem;
  color: black;
}

.nav-arrow:hover {
  color: rgb(83, 64, 255);
}

.navbar-menu {
  text-align: right;
  font-size: 1.1rem;
  color: black;
  background-color: transparent;
  border: none;
}

.navbar-menu:hover {
  cursor: pointer;
}

.navbar-menu:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(116, 101, 252, 0.5);
}
